.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-section {
  max-width: 200px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.footer-logo img {
  max-width: 130px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul {
  margin: 5px 0;
}

.footer-section li {
  margin: 20px 0;
}

.footer-bottom {
  width: 100%;
  text-align: center;
}

.footer-bottom hr {
  margin: 20px 0;
  border: 1px solid #ddd;
}

.footer-bottom p {
  margin: 0;
}
