.top-search-container {
  width: 100%;
  background: none;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.top-search-container h2 {
  font-size: 24px;
  margin-bottom: 0px;
}

.top-search-list {
  list-style-type: none;
  padding-left: 70px;
  padding-right: 70px;
  color: #004E98;
  margin: 0;
  margin-bottom: 0px;
}

.top-search-list li {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: #004E98;
}
